<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cd2cd.mapper.ProFileMapper">

	<resultMap id="FileResultMap" type="com.cd2cd.domain.ProFile" extends="BaseResultMap">

		<result column="superName" property="superName" />
		<association property="module" javaType="com.cd2cd.domain.ProModule">
			<id column="module_id" property="id"></id>

			<id column="module_name" property="name"></id>
			<result column="module_showname" property="showName" />
			<result column="module_description" property="description" />
		</association>

	</resultMap>

	<select id="selectFileAndModule" parameterType="com.cd2cd.domain.gen.ProFileCriteria"
		resultMap="FileResultMap">

		select
		<include refid="Base_Column_List" />
		,
		(select name from pro_module where pro_module.id=pro_file.module_id)
		module_name,
		(select show_name from pro_module where
		pro_module.id=pro_file.module_id) module_showname,
		(select description
		from pro_module where pro_module.id=pro_file.module_id)
		module_description,
		(select name from pro_table where pro_table.id=pro_file.super_id) superName
		from pro_file
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>

	</select>

	<select id="selectFileAndModuleByMicro" resultMap="FileResultMap">

		select
			<include refid="Base_Column_List" />,
		(select name from pro_module where pro_module.id=pro_file.module_id)
		module_name,
		(select show_name from pro_module where
		pro_module.id=pro_file.module_id) module_showname,
		(select description
		from pro_module where pro_module.id=pro_file.module_id)
		module_description,
		(select name from pro_table where pro_table.id=pro_file.super_id) superName
		from pro_file
		where
		del_flag = 0
		and file_type = #{fileType}
		and micro_id= #{microId}

	</select>

</mapper>