<div class="slider-left" id="slider_left">
    <ul class="list-group menu-wrapper" v-on:click="toggle" ref="menu_ul">
        <li class="list-group-item">
            <router-link to="/view/dashboard/index.html"> <i class="glyphicon glyphicon-dashboard"></i> 首页 </router-link>
        </li>
        <li class="list-group-item">
            <router-link to="/proProjectList"> <i class="glyphicon glyphicon-list-alt"></i> 项目管理 </router-link>
        </li>
        <li class="list-group-item">
            <router-link to="/proDatabaseIndex"> <i class="glyphicon glyphicon-briefcase"></i> 数据库管理 </router-link>
        </li>
        <li class="list-group-item">
            <span><i class="glyphicon glyphicon-menu-right"></i> 系统管理</span>
            <ul class="list-group">
                <li class="list-group-item ROLE_101">
                    <router-link to="/sysUserList"> <i class="glyphicon glyphicon-user"></i> 用户管理</router-link>
                </li>
                <li class="list-group-item ROLE_201">
                    <router-link to="/sysRoleList"> <i class="glyphicon glyphicon-oil"></i> 角色管理 </router-link>
                </li>
            </ul>
        </li>
    </ul>
</div>