<div class="form-group" v-bind:class="[colWidthClass]">
	<label v-bind:for="name" class="col-sm-2 control-label"> {{label}} </label>
	<div class="col-sm-6">
		<div class="dropdown display-inline">
			<button class="btn btn-default dropdown-toggle" type="button"
				v-bind:id="name + '-menu'" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="true">
				{{selectedObj.label}} <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" v-bind:aria-labelledby="name + '-menu'">
			
			<li v-for="val in values" ><a href="javascript:;" 
				v-on:click="selectItem(val)" > {{val.label}} </a></li>
			</ul>
			
			<input type="hidden" v-model="selectedObj.key" class="form-control" v-bind:name="name" v-bind:id="name" >
		</div>
	</div>
	<div class="help-block">
		<span class="input-tip"> {{tip}} </span>
	</div>
</div>