<div class="form-group" v-bind:class="[colWidthClass]">
	<label v-bind:for="name" class="col-sm-2 control-label"> {{label}} </label>
	<div class="col-sm-6">
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-default"
			v-for="value in values" 
			v-on:click="selectItem(value.key);" 
			v-bind:class="{ active: value.key == selectedKey }" > {{value.label}} </button>
			
		</div>
		<input type="hidden" v-model="selectedKey" 
			v-bind:value="value" 
			class="form-control" 
			v-bind:name="name" 
			v-bind:id="name" >
	</div>
	<div class="help-block">
		<span class="input-tip"> {{tip}} </span>
	</div>
</div>