<div class="tab-column-panel">
	<div v-on:click="open" class="tab-column-option">
		<i class="glyphicon glyphicon-th"></i>
	</div>


	<div class="panel panel-default table-column-list">
		<div class="panel-heading"> 表格字段选项 </div>
		<div class="panel-body">
			<ul id="column-tree" class="ztree"></ul>
		</div>
		<div class="panel-footer">
			<input v-on:click="close" type="button" value="关闭" class="btn btn-default" />
			<input v-on:click="completed" type="button" value="确定" class="btn btn-info" /> 
		</div>
	</div>
</div>