.slider-left {
	background-color: white;
	width: 300px;
	overflow: auto;
	position: static;
}

.body-content {
	left: 300px;
	border-left: 1px solid #ddd;
}

.pop-r-menu {
	position: absolute;
	left: 200px;
	top: 150px;
	background-color: white;
	border-radius: 4px;
	font-size: 13px !important;
	line-height: 13px;
	color: #666;
	font-weight: 600;
	z-index: 888;
}

.tool-bar-row {
	margin-left: 285px;
}
.pro-navbar-header {
	width: 285px;
}
.left-slider-ctl {
	float: right;
	font-size: 24px;
	padding: 10px 10px 5px 10px;
	cursor: pointer;
}
.display-inline {
	display: inline-block;
}


/** 模态 */
.project-modal {
	background-color: rgba(0,0,0, 0.6)
}
.modal-backdrop { display: none; }


/** tabs */
.file-editor-panel {
	background-color: #f8f8f8;
}
.tab-close {
	font-size: 18px;
	font-weight: bold;
	display: inline-block;
	padding: 4px;
	position: absolute;
	right: 1px; 
	top: -1px;
}

.tab-close { display: none; }

.file-editor-panel li.active .tab-close, .file-editor-panel li a:hover .tab-close {
	display: inline-block;
}

/** 编辑面板 **/
.edit-page {
	padding: 10px;
}
.e-c1 {
	color: #996699;
}
.e-c2 {
	color: #999;
}
.e-c3 {
	color: #6699CC;
}
.e-c4 {
	color: #006699;
}
.edit-row {
	
}
.edit-comment {
	color: #6699CC;
}
.edit-comment-content {
	
}

/** 方法 **/
.file-method {
	padding: 20px;
	border: 1px dotted #ccc;
	margin: 5px;
}
.ml-10 {
	margin-left: 10px;
}



