<!-- 


方法注释


## controller:
path:
methodType: get/post/put/del

return type: obj / page_name

function name:
function parmas:

function body:

function todo:

 -->

<div class="file-method">
	<button v-on:click="removeFun" type="button" class="close" aria-hidden="true">&times;</button>

	<table class="setting-tab">
		
		<tr>
			<td>方法名称</td>
			<td><input v-model="formData.name" class="h18px" placeholder="方法名称" /></td>
			<td>备注： 方法描述，如： 获取用户信息 </td>
		</tr>
		
		<tr>
			<td>方法注释</td>
			<td>
			<textarea v-model="formData.comment" class="comment-box fileComment"></textarea>
			</td>
			<td>备注： 描述此方法的作用，和逻辑 </td>
		</tr>
		
		<tr>
			<td>path</td>
			<td><input v-model="formData.reqPath" class="h18px" placeholder="path" /></td>
			<td>备注： 访问地址如： /getUserInfo </td>
		</tr>
		
		<tr>
			<td>method</td>
			<td>
				
				<select v-model="formData.reqMethod">
					<option v-for="val in methods" :value="val">{{val}}</option>
				</select>
			
			</td>
			<td>备注： 访问方式 </td>
		</tr>
		
		<tr>
			<td>function Name</td>
			<td><input v-model="formData.funName" class="h18px" placeholder="function Name" /></td>
			<td>备注： 程序中的名称如  getUserInfo </td>
		</tr>
		
		<tr>
			<td>return type</td>
			<td>
				<input type="button" v-on:click="setFuncReturnType" class="btn btn-info btn-xs" :value=" formData.resType||'void'" />
				<span>[{{formData.returnShow}}]</span>
			</td>
			<td>备注： 返回的类型， 可以是 页面/对象， 范型对象  [ index.html 首页内容 ] </td>
		</tr>
		
		<tr>
			<td>params</td>
			<td><input class="h18px" placeholder="return type" /></td>
			<td>备注： 请求的参数据， 基本数据类型 </td>
		</tr>
		
		<tr>
			<td>TODO</td>
			<td><textarea v-model="formData.todoContent" rows="2" cols="50"></textarea></td>
			<td>备注： 标注此方法内的执行原理或 伪代码逻辑 </td>
		</tr>
		
	</table>
	
	<!--  updateFun  -->
	<input v-on:click="updateFun" type="button" class="btn btn-success pull-right" value="save" style="position:absolute;right: 10px;bottom: 10px;" />
</div>