<!-- 弹出选择VO -->
<div class="pop-choose-vo-panel" style="display:none;">

	<div style="background-color: white;padding: 20px;width: 80%;position: absolute;bottom: 10px;left: 50px;text-align: center;">
		
		<select v-model="selectedObj" >
			<option v-for="v in allVoListDic" :value="v">{{v.name}}</option>
		</select>	
		
		&nbsp;
		<label>  <input name="collectionType" type="radio" value="single" checked /> 单值 </label>&nbsp;
		<label>  <input name="collectionType" type="radio" value="list" /> List </label>&nbsp;
		<label>  <input name="collectionType" type="radio" value="map" /> Map </label>&nbsp;
		<label>  <input name="collectionType" type="radio" value="set" /> Set </label>&nbsp;
		<input v-on:click="checkOk" type="button" value="确定" class="btn btn-info btn-xs" />
		<input v-on:click="closePanel" type="button" value="关闭" class="btn btn-info btn-xs" />
	</div>

</div>