<div class="modal fade project-modal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel"> 添加/修改-项目 </h4>
            </div>
            <div class="modal-body">
				<form id="formValidate" class="form-horizontal" novalidate>
                	
                    <form-text-input v-bind:colWidth="6" v-model="formData.name" v-bind:label="'名称'"
	                    v-bind:name="'name'" v-bind:tip="'* 项目名称'" >
                    </form-text-input>

                    <form-textarea-input v-bind:colWidth="6" v-model="formData.description" v-bind:label="'简介'"
	                    v-bind:name="'description'" v-bind:tip="' 项目介绍 '" >
                    </form-textarea-input>
                    
                    <form-text-input v-bind:colWidth="6" v-model="formData.groupId" v-bind:label="'groupId'"
	                    v-bind:name="'groupId'" v-bind:tip="' groupId '" >
                    </form-text-input>
                    
                    <form-text-input v-bind:colWidth="6" v-model="formData.artifactId" v-bind:label="'artifactId'"
	                    v-bind:name="'artifactId'" v-bind:tip="' * artifactId '" >
                    </form-text-input>
                    
                    <!-- 项目结构 -->
                    <form-group-btns 
	                    v-model="formData.packageType"
	                    v-bind:colWidth="6" 
	                    v-bind:label="'结构'"
	                    v-bind:values="[{key:'standard', label:'标准化'}, {key:'module', label:'模块化'}]"
	                    v-bind:selected="formData.packageType"
	                    v-on:changeSelected="function(val){formData.packageType=val;}"
	                    v-bind:name="'packageType'" 
	                    v-bind:tip="'* 结构不可为空'" >
                    </form-group-btns>
                    
                    <form-text-input v-bind:colWidth="6" v-model="formData.version" v-bind:label="' 版本 '"
	                    v-bind:name="'version'" v-bind:tip="' 版本 '" >
                    </form-text-input>
                    
                    <form-text-input v-bind:colWidth="6" v-model="formData.contextPath" v-bind:label="' path '"
	                    v-bind:name="'contextPath'" v-bind:tip="' path '" >
                    </form-text-input>
                    
                    <form-datetime-input v-bind:colWidth="6" v-model="formData.gen_path" v-bind:label="'gen_path'"
	                    v-bind:name="'gen_path'" v-bind:tip="' gen_path '" >
                    </form-datetime-input>
                    
                    <!-- DB list -->
                    <form-checkbox style="border: 1px solid #0066CC;margin-left:0;border-radius: 8px;" 
                    	v-bind:colWidth="12" 
                    	v-bind:label="'数据库:'"
	                    v-bind:name="'db'" v-bind:tip="' 选择数据库 '"
	                    v-model="formData.dbIds" 
	                    v-on:changeSelected="function(vals){ formData.dbIds=vals; console.info(JSON.stringify(vals)); }"
                    	v-bind:values="allProjectDbList"
                    	>
                    </form-checkbox>
                    
					<div style="clear: both"></div>
                </form>
	
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default close-btn" data-dismiss="modal"> 关闭 </button>
                <button v-on:click="subFormData" type="button" class="btn btn-primary confirm-btn"> 确定 </button>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>