<div class="panel panel-default">
	<div class="panel-heading">
		数据库 
	</div>
	<div class="panel-body database-panel-body">
		<br />
		<form id="dbFormValidate" class="form-horizontal" novalidate>
			
			<form-text-input v-bind:label="'数据库名'" v-bind:tip="'* 数据库名不可为空'" 
            	v-model="entityForm.dbName" v-bind:name="'dbName'"  >
            </form-text-input>
                    
			<form-text-input v-bind:label="'用户名'" v-bind:tip="'* 用户名不可为空'" 
            	v-model="entityForm.username" v-bind:name="'username'"  >
            </form-text-input>
            
			<form-text-input v-bind:label="'密码'" v-bind:tip="'* 密码不可为空'" 
            	v-model="entityForm.password" v-bind:name="'password'"  >
            </form-text-input>
            
			<form-text-input v-bind:label="'地址'" v-bind:tip="'* 地址不可为空'" 
            	v-model="entityForm.hostname" v-bind:name="'hostname'"  >
            </form-text-input>
            
            <form-text-input v-bind:label="'端口'" v-bind:tip="'* 端口不可为空'" 
            	v-model="entityForm.port" v-bind:name="'port'"  >
            </form-text-input>
            
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<input v-show="entityForm.id > 0"
					v-on:click="$emit('toAddTable', {databaseId:entityForm.id})" 
					type="button" value="添加表" class="btn btn-info"  />
					<input type="button" v-on:click="subFormData" class="btn btn-default" value="保存" />
					<input v-show="entityForm.id > 0" v-on:click="delRowData(entityForm.id)" type="button" class="btn btn-default btn-danger" value="删除" />
					<input v-show="entityForm.id > 0" v-on:click="asyncDbToProFromDbBase(entityForm.id)" type="button" class="btn btn-default btn-info" value="同步数据库表到项目中" />
					<input v-show="entityForm.id > 0" v-on:click="asyncDbToDbBaseFromPro(entityForm.id)" type="button" class="btn btn-default btn-success" value="同步项目数据表到数据库" />
					<br />
				</div>
			</div>
		</form>
	</div>

</div>