<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"> 添加用户 </h4>
            </div>
            <div class="modal-body">
                <form id="formValidate" class="form-horizontal" novalidate>
                    
                    <form-text-input v-bind:label="'账号'" v-bind:tip="'* 账号不可为空'" 
                    	v-model="formData.username" v-bind:name="'username'"  >
                    </form-text-input>

					<form-text-input v-bind:label="'密码'" v-bind:tip="'* 密码不可为空'" 
                    	v-model="formData.password" v-bind:inputType="'password'" v-bind:name="'password'"   >
                    </form-text-input>
                    
                    <form-text-input v-bind:label="'确认密码'" v-bind:tip="'* 确认密码不可为空'" 
                    	v-model="formData.confirm_password" v-bind:inputType="'password'" v-bind:name="'confirm_password'"   >
                    </form-text-input>

					<form-text-input v-bind:label="'昵称'" v-bind:tip="'* 昵称不可为空'" 
                    	v-model="formData.nickname" v-bind:name="'nickname'"  >
                    </form-text-input>
                    
                    <form-text-input v-bind:label="'邮箱'" v-bind:tip="'* 邮箱不可为空'" 
                    	v-model="formData.email" v-bind:name="'email'"  >
                    </form-text-input>
                    
                    <form-text-input v-bind:label="'手机号'" v-bind:tip="'* 手机号不可为空'" 
                    	v-model="formData.mobile" v-bind:name="'mobile'"  >
                    </form-text-input>
                    
                    <!-- 用户状态 -->
                    <form-group-btns 
                    	v-bind:label="'用户状态'" v-bind:tip="'* 用户状态不可为空'"
	                    v-model="formData.status" v-bind:name="'status'"
	                    v-bind:selected="formData.status"	                    
	                    v-bind:values="[{key:'enable', label:'启用'}, {key:'disable', label:'禁用'}]"	                    
	                    v-on:changeSelected="function(val){formData.status=val;}" >
                    </form-group-btns>
                    
                    <form-checkbox  
                    	v-bind:label="'角色选择:'" v-bind:tip="' * 角色不可为空 '"
	                    v-model="formData.roles" v-bind:name="'roleIds'"  
	                    v-on:changeSelected="function(vals){ formData.roles=vals; }"
                    	v-bind:values="sysRoles" >
                    </form-checkbox>
                    
                    <div style="clear: both"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"> 关闭 </button>
                <button v-on:click="subFormData()" type="button" class="btn btn-primary"> 确定 </button>
            </div>
        </div>
    </div>

</div>